* {
    font-family: 'Alegreya Sans', sans-serif;
}
body {
    background-color: #222;
    color: #eee;
    font-size: 17px;
    width: 100vw;
    height: 100vh;    
}

h1 {
    font-family: 'Merienda', cursive;
}

.content {
    padding: 1vw;
}